.header {
  border-bottom: 1px solid gray;
  background-color: var(--oxford-blue);
}
.header .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.net-box {
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
}

.select-title {
  width: 190px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 10px;
  border: 1px solid var(--cadet-grey);
  border-radius: 25px;
  transition: 0.5s all;
  cursor: pointer;
  margin-bottom: 10px;
}

.list-items {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  cursor: pointer;
  background-color: hsl(289.1, 36.3%, 17.8%);
  z-index: 10;
}
.list-items.active {
  visibility: visible;
  opacity: 1;
}
.net-box {
  transition: 0.5s all;
}
.net-box:hover {
  background-color: gray;
  padding-left: 15px;
}
