.accounts .item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 5px;
  font-size: 17px;
  color: rgb(12, 12, 12);
  font-weight: 500;
}
.accounts .item:not(:last-of-type) {
  border-bottom: 1px solid rgb(165, 159, 159);
}

.accounts {
  height: 80px;
  overflow: auto;
  background-color: rgb(212, 206, 206);
  border-radius: 10px;
}

.accounts::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}
.accounts::-webkit-scrollbar-thumb {
  background-color: rgb(20, 13, 219);
}
